<form [formGroup]="restaurantForm" (ngSubmit)="onSubmit()">
  <!-- Name Field -->
  <mat-form-field appearance="fill" class="form-group">
    <mat-label>Name</mat-label>
    <input matInput id="name" formControlName="name" />
    <mat-error *ngIf="restaurantForm.get('name')?.invalid && restaurantForm.get('name')?.touched">
      <div *ngIf="restaurantForm.get('name')?.hasError('required')">
        Name is required.
      </div>
      <div *ngIf="restaurantForm.get('name')?.hasError('pattern')">
        Name should not contain special characters.
      </div>
    </mat-error>
  </mat-form-field>

  <!-- Description Field -->
  <mat-form-field appearance="fill" class="form-group">
    <mat-label>Description</mat-label>
    <input matInput id="description" formControlName="description" />
    <mat-error *ngIf="restaurantForm.get('description')?.invalid && restaurantForm.get('description')?.touched">
      <div *ngIf="restaurantForm.get('description')?.hasError('required')">
        Description is required.
      </div>
    </mat-error>
  </mat-form-field>

  <!-- Submit Button -->
  <button mat-raised-button color="primary" type="submit" [disabled]="restaurantForm.invalid">Save</button>
  <button mat-button color="warn" type="button" (click)="router.navigate(['/list'])">Cancel</button>
</form>
